.notes-input {
    font-size: inherit;
    color: inherit;
    background-color: #636368;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    margin-right: 2rem;
    margin-top: 4.4rem;
    outline: #eee063;
}