html {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    font-size: 1rem;
    color: #fff;
}

@media (max-width: 750px) {
    .notes {
        width: 100%;
    }

    .lists {
        display: none;
    }
}







